.content {
    padding: 1.3em;        
    margin: 0.3em;
    border: 0.3em solid black;
    background: whitesmoke;
    
}
header h1{
    text-align: center;
    size: 3em;
    padding: 0.5em;
}
.topbar{
    width: 100%;
    
    min-width: 200px;
}
.topbar input{
    border: 1px solid rgb(red, green, blue);
}
body {
    background: #767de4;
}
.user{
    color: red;
    padding: bold;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}
.comment{
    display: inline-block;
    width: 80%;
    padding: 0.1em 0.1em;


}
.icon{
    display: block;
    padding: 0.2em 0.2em;
    border-radius: 2em;
    border-color: black;
    color: whitesmoke;

}
hr{

}